* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  list-style: none;

  text-decoration: none;
}

body {
  background-color: #eaffe0;

  display: flex;
  justify-content: center;

  height: 120vh;

  position: relative;
}

header {
  background-color: #ABE7B2;
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100px;

  padding: 0 40px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.my-name {
  font-size: 1.5rem;
  font-weight: 800;
}

header ul {
  display: flex;
  justify-content: flex-end;
  width: 40%;
  column-gap: 20px;
}

header ul li a{
  white-space: nowrap;
  color: black;
}

.li-divider {
  border-right: 1px solid black;
}

header ul li:hover {
  text-decoration: underline;
  cursor: pointer;

}

/*Footer*/

footer {
  background-color: #93BFC7;
  position: absolute;

  bottom: 0;
  left: 0;
  right: 0;
  height: 150px;

  padding: 0 40px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  row-gap: 5px;
}

.section-header {
  font-weight: 700;
}

.footer-logo {
  height: 24px;
  aspect-ratio: 1/1;

  cursor: pointer;
}


.contact {

  margin-top: 200px;

  display: flex;
  flex-direction: column;
  row-gap: 40px;

}
